<div class="wrapper">
	<%= render "partials/left_navigation_bar" %>

	<section>
	 
	 <div class="main-content">
	    <%= render "partials/vacancy_form", locals:{title: "Edit Vacancy",path: admins_vacancy_path(@vacancy)} %>
	 </div>
	 
	 
	</section>
</div>
