<div class="wrapper">
	<%= render "partials/top_navigation_bar" %>
	<%= render "partials/left_navigation_bar" %>

	<section>
	 <!-- START Page content-->
	 <div class="main-content">
	    <h3>Page title
	       <br>
	       <small>Subtitle</small>
	    </h3>
	    <div class="row">
	       <div class="col-lg-12">
	          <p>Halaman Home</p>
	       </div>
	    </div>
	 </div>
	 <!-- END Page content-->
	 <!-- START Page footer-->
	 <footer>&copy; 2014 - Wintermin</footer>
	 <!-- END Page Footer-->
	</section>
</div>