<div class="wrapper">
	<%= render "partials/left_navigation_bar" %>

	<section>
	 
	 <div class="main-content">
	    <%= render "partials/department_form", locals: {title: "Create new department", path: admins_departments_path(@department)}  %>
	 </div>
	</section>
</div>
